.advantages {
  counter-reset: advantage;
}

.advantages__list {
  .list-reset();

  margin-bottom: 42px;
}

.advantages__title {
  margin-top: -3px;
  margin-bottom: 29px;
}


@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .advantages__title {
    margin-bottom: 15px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    margin-bottom: 220px;
  }
}
