.before-after {
  font-family: @Oswald;

  background-color: @lightgrey;
}

.before-after__wrapper {
  display: flex;
  flex-direction: column;
}

.before-after__top {
  margin-bottom: 20px;
}

.before-after__title {
  margin-top: 15px;
  margin-bottom: 24px;
}

.before-after__stats,
.before-after__title,
.before-after__promo {
  padding: 0 20px;
}

.before-after__promo {
  margin-bottom: 24px;
  padding-right: 30px;

  font-family: "Arial", sans-serif;
}

.before-after__stats {
  display: flex;
  flex-wrap: wrap;
}

.before-after__label {
  font-size: 16px;
  line-height: 20px;
  color: @blacky;
  text-transform: uppercase;
}

.before-after__cost {
  text-transform: uppercase;
}

.before-after__slider-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .before-after {
    padding-top: 42px;

    background-color: white;
    border-top: @lightgreyborder;
  }

  .before-after__top {
    margin-bottom: 0;

    background-color: white;
  }

  .before-after__title {
    margin-top: 0;
    margin-bottom: 64px;
  }

  .before-after__promo {
    margin-bottom: 53px;
  }

  .before-after__title,
  .before-after__promo,
  .before-after__stats {
    padding: 0 30px;
  }

  .before-after__slider-list {
    margin-top: -169px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
  }

  .before-after__stats {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 235px;
  }

  .before-after__slider {
    padding-bottom: 70px;

    background-color: @lightgrey;
  }
}

@media (min-width: @desktop-width) {
  .before-after {
    padding-top: 0;
    padding-bottom: 0;

    background-color: @lightgrey;
    border: none;
  }

  .before-after__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1300px;
    margin: 0 auto;
  }

  .before-after__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 570px;
    margin-right: 40px;

    background-color: @lightgrey;
  }

  .before-after__title,
  .before-after__promo,
  .before-after__stats {
    padding-right: 0;
    padding-left: 40px;
  }

  .before-after__title {
    margin-top: -133px;
    margin-bottom: 130px;
  }

  .before-after__slider {
    padding-bottom: 70px;
  }

  .before-after__slider-list {
    width: 690px;
    height: 600px;
    margin: 0;
    margin-top: -227px;
    padding-left: 0;
  }

  .before-after__promo {
    width: 474px;
    margin-bottom: 68px;
  }

  .before-after__stats {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 70px;
  }
}
