.catalog {
  overflow: hidden;
}

.catalog__title {
  margin-top: 36px;
  margin-bottom: 28px;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .catalog {
    margin: 0 auto;

    border-top: 0;
  }

  .catalog__title {
    margin-top: 28px;
    margin-bottom: 23px;
    padding-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    max-width: 1300px;
    margin: 0 auto;
  }

  .catalog__title {
    margin-top: 0;
    padding-left: 40px;
  }
}
