.catalog-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
  padding-bottom: 25px;

  border-bottom: @greyborder;
}

.catalog-item--show-all {
  flex-direction: column;
  justify-content: flex-start;

  text-align: center;

  border-bottom: @lightgreyborder;
}


.catalog-item__table {
  width: 50%;
  margin-top: 25px;
}

.catalog-item__table tr {
  display: flex;
  justify-content: space-between;
}

.catalog-item__table-title {
  display: block;
  width: 75%;

  text-align: left;
}

.catalog-item__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: @Oswald;
  color: @blacky;
  text-transform: uppercase;

  &--show-all {
    margin-bottom: 0;
  }
}

.catalog-item__promo-text {
  margin-bottom: 10px;
}

.catalog-item__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto;
}

.catalog-item__image {
  margin: auto;
}

.catalog__plus {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 25px;

  background-image: url("/img/icon-plus.svg"); //Временно для наглядности
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    position: relative;

    flex-direction: column;
    width: 324px;
    margin: 0 30px;
    margin-top: 140px;
    padding: 160px 38px;
    padding-bottom: 40px;

    background-color: @lightgrey;
    border: 0;
  }

  .catalog-item__title {
    font-size: 20px;
  }

  .catalog-item__image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .catalog-item__image--small {
    margin-top: -43px;
  }

  .catalog-item__image--big {
    margin-top: -80px;
  }

  .catalog-item__table {
    width: 100%;
    margin-bottom: 30px;
  }

  .catalog-item__table-title {
    width: 60%;
    margin-bottom: 20px;
    margin-left: 20%;

    text-align: center;
  }

  .catalog-item__table tr {
    padding: 5px 0;

    border-bottom: @greyborder;
  }

  .catalog-item--show-all {
    justify-content: space-between;
    padding-top: 55px;

    background-color: white;
    border: @lightgreyborder;
  }

  .catalog-item__promo-text,
  .catalog-item__title--show-all {
    margin-top: -10px;
    padding: 0 20px;

    text-align: center;
  }

  .catalog__plus {
    width: 55px;
    height: 55px;

    background-size: cover;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    width: 19%;
  }

  .catalog-item__promo-text,
  .catalog-item__title--show-all {
    padding: 0;
  }
}
