.catalog-extra-item {
  padding-top: 14px;
  padding-bottom: 16px;

  border-top: none;
  border-bottom: @greyborder;
}

.catalog-extra-item__title {
  margin-bottom: 8px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: @Oswald;
  text-align: left;
  color: @blacky;
  text-transform: uppercase;
}

.catalog-extra-item__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;

  border-collapse: collapse;
  border-spacing: 0;
}

.catalog-extra-item__table tr {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .catalog-extra-item {
    padding: 25px 38px;
    padding-right: 36px;
    padding-bottom: 0;
  }

  .catalog-extra-item__title {
    font-size: 20px;
  }

  .catalog-extra-item__table {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 0;
  }

  .catalog-extra-item__table tr {
    width: 260px;
    padding-top: 0;
  }

  .catalog-extra-item__volume {
    width: 66%;
  }

  .catalog-extra-item__cost {
    width: 34%;
    margin-right: -4px;
  }

  .catalog-extra-item__volume,
  .catalog-extra-item__cost {
    text-align: right;
  }

  .catalog-extra-item__button {
    margin-bottom: 27px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-extra-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 895px;
    margin-right: 80px;
    padding: 15px 0;
    padding-bottom: 10px;

    border-right: none;
    border-left: none;
  }

  .catalog-extra-item__table {
    width: 610px;
    margin-right: 40px;
    margin-bottom: 0;

    tr {
      justify-content: flex-start;
      width: 285px;
    }
  }

  .catalog-extra-item__title {
    width: 285px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .catalog-extra-item__button {
    width: 245px;
    margin: 0;
    margin-bottom: 6px;
  }

  .catalog-extra-item__volume {
    text-align: left;
  }
}
