.catalog-item {
  padding-bottom: 20px;
  border-bottom: @lightgreyborder;
}

.catalog-item__title {
  font-family: @Oswald;
  color: @blacky;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
