.categories-item {
  position: relative;

  padding: 20px;
  padding-bottom: 19px;

  background-color: @lightgrey;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: @green;
    border-radius: 50%;
  }

  &--slim::before,
  &--pro::before {
    content: "";
    position: absolute;
    z-index: 1;

    background-repeat: no-repeat;
  }

  &--slim::before {
    top: 22px;
    left: 31px;

    width: 50px;
    height: 50px;

    background-image: url("/img/icon-cat-slim.svg");
    background-size: 34px 50px;
  }

  &--pro::before {
    top: 34px;
    left: 13px;

    width: 66px;
    height: 30px;

    background-image: url("/img/icon-cat-pro.svg");
    background-size: 66px 30px;
  }
}

.categories__title {
  margin-top: 10px;
  margin-bottom: 29px;
  padding-left: 71px;

  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  font-family: @Oswald;
  text-transform: uppercase;
}

.categories__description {
  margin-bottom: 20px;
  padding-bottom: 22px;

  border-bottom: @lightgreyborder;
}

.categories__link {
  position: relative;

  display: inline-block;

  font-size: 16px;
  line-height: 16px;
  font-family: @Oswald;
  color: @blacky;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -35px;

    display: block;
    width: 24px;
    height: 11px;

    background-image: url("/img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: 24px 11px;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    right: -34px;

    width: 36px;

    background-image: url("/img/icon-right-arrow-verylong.svg");
    background-size: 36px 11px;
  }
}

@media (min-width: @tablet-width) {
  .categories-item {
    padding-top: 75px;
    padding-bottom: 56px;
    padding-left: 52px;

    &::after {
      top: 91px;
      left: 63.3%;

      width: 200px;
      height: 200px;
    }

    &--slim::before {
      top: 79px;
      left: calc(63.3% + 26px);

      width: 200px;
      height: 200px;

      background-image: url("/img/icon-cat-slim.svg");
      background-size: 145px 194px;
    }

    &--pro::before {
      top: 134px;
      left: calc(63.3% - 35px);

      width: 300px;
      height: 200px;

      background-image: url("/img/icon-cat-pro.svg");
      background-size: 267px 111px;
    }
  }

  .categories__title {
    margin-top: 0;
    margin-bottom: 26px;
    padding-left: 0;

    font-size: 36px;
    text-align: left;
  }

  .categories__description {
    margin-bottom: 33px;
  }

  .categories-item--pro .categories__description {
    width: 54%;
  }

  .categories-item--slim .categories__description {
    width: 59%;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;

    border: none;

    &::after {
      top: 5px;
      right: -48px;
    }
  }
}

@media (min-width: @desktop-width) {
  .categories-item {
    width: 570px;

    &::after {
      top: 44px;
      left: 51px;

      width: 100px;
      height: 100px;
    }

    &--slim::before {
      top: 37px;
      left: 65px;

      width: 100px;
      height: 100px;

      background-image: url("/img/icon-cat-slim.svg");
      background-size: 73px 97px;
    }

    &--pro::before {
      top: 65px;
      left: 34px;

      width: 150px;
      height: 100px;

      background-image: url("/img/icon-cat-pro.svg");
      background-size: 134px 56px;
    }
  }

  .categories-item__logo {
    top: 47px;
    left: 51px;

    width: 100px;
    height: 100px;
  }

  .categories-item__logo-image {
    &--slim {
      top: -5px;
      left: 14px;

      width: 73px;
      height: 97px;
    }

    &--pro {
      top: 22px;
      left: -18px;

      width: 134px;
      height: 56px;
    }
  }

  .categories__title {
    margin-bottom: 75px;

    text-align: center;
  }

  .categories-item--slim .categories__title {
    margin-right: 10px;
  }

  .categories-item--pro .categories__title {
    margin-left: 27px;
  }

  .categories__description {
    margin-bottom: 6px;
  }

  .categories-item--slim .categories__description,
  .categories-item--pro .categories__description {
    width: 480px;
  }
}
