.categories-item {
  margin-bottom: 20px;
  padding: 20px;

  background-color: @lightgrey;
}

.categories__title {
  .header-reset();
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  font-family: @Oswald;
  text-align: center;
  text-transform: uppercase;
}

.categories__description {
  margin-bottom: 20px;
}

.categories__link {
  display: block;
  padding-top: 15px;

  font-size: 16px;
  font-family: @Oswald;
  color: @blacky;
  text-transform: uppercase;

  border-top: @greyborder;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .categories-item {
    margin-bottom: 30px;
    padding-top: 75px;
    padding-bottom: 60px;
    padding-left: 50px;
  }

  .categories__title {
    margin-bottom: 30px;
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
  }

  .categories__description {
    margin-bottom: 60px;
  }

  .categories-item--pro
  .categories__description {
    width: 340px;
  }

  .categories-item--slim
  .categories__description {
    width: 370px;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;
    border: 0;
  }
}


@media (min-width: @desktop-width) {
  .categories-item {
    padding: 50px;
    padding-bottom: 60px;
    width: 570px;
  }

  .categories__title {
    margin-bottom: 75px;
    text-align: center;
  }

  .categories-item--pro
  .categories__description,
  .categories-item--slim
  .categories__description {
    width: 100%;
  }
}
