.categories-item {
  margin-bottom: 21px;
}

.categories__list {
  .list-reset();
}

@media (min-width: @desktop-width) {
  .categories__list {
    display: flex;
    justify-content: space-between;
  }
}
