.contacts {
  position: relative;

  padding-top: 14px;

  background-color: @lightgrey;
}

.contacts--index {
  background-color: white;
}

.contacts__text {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  padding: 0;
}

.contacts__title {
  max-width: 43%;
  margin-right: 20px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: @Oswald;
  color: @blacky;
  text-transform: uppercase;
}

.contacts__address {
  max-width: 50%;

  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .contacts {
    min-height: 395px;
    padding-top: 40px;
  }

  .contacts--index {
    padding: 0;
  }

  .contacts__text {
    justify-content: space-around;
    margin-bottom: 0;
    padding: 23px 42px;
    padding-bottom: 57px;
  }

  .contacts__title {
    max-width: 150px;
    margin: 0;
    margin-right: auto;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    max-width: 200px;
    margin: 0;
    margin-left: auto;

    text-align: right;
  }

  .contacts__city {
    display: block;
    margin-top: 20px;
  }

  .contacts__map {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    min-height: 400px;
    padding-top: 94px;

    background-color: transparent;
  }

  .contacts__text {
    width: 570px;
    margin-left: 0;
    padding-top: 66px;
    padding-right: 90px;
    padding-bottom: 57px;
    padding-left: 75px;

    background-color: white;
  }

  .contacts__address {
    padding-left: 25px;

    text-align: left;
  }

  .contacts__map {
    z-index: -1;

    width: 100%;
    margin-top: -296px;
  }
}
