.contacts {
  position: relative;

  padding: 20px 0;
  background-color: @lightgrey;
}

.contacts__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 20px;
}

.contacts__title {
  width: 43%;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: @Oswald;
  color: @blacky;
  text-transform: uppercase;
}

.contacts__address {
  width: 50%;

  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .contacts {
    min-height: 600px;
    padding: 0;
  }

  .contacts__text {
    margin-bottom: 0;
    padding: 25px 70px;
    padding-bottom: 57px;

    background-color: white;
  }

  .contacts__title {
    margin: 0;
    width: 150px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 200px;
    margin: 0;


    text-align: right;
  }

  .contacts__city {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    min-height: 400px;
    padding-top: 94px;
  }

  .contacts__text {
    width: 570px;
    margin-left: 41px;
    margin-bottom: 0;
    padding-top: 66px;
    padding-left: 75px;
    padding-bottom: 57px;

    background-color: white;
  }

  .contacts__address {
    padding-left: 25px;
    text-align: left;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
  }
}
