.copyright {
  padding-top: 11px;

  border-top: @lightgreyborder;
}

.copyright__link {
  position: relative;

  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 16px;
  color: inherit;

  svg {
    position: absolute;
    top: -10px;
    right: -5px;

    fill: #666666;
  }

  &:hover svg,
  &:focus svg {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    justify-content: flex-end;
  }

  .copyright__link {
    font-size: 16px;
    line-height: 16px;
    color: @lightblack;
  }
}
