.copyright {
  border-top: @lightgreyborder;
}

.copyright__link {
  position: relative;

  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 16px;
  color: @lightblack;
}

.copyright__logo {
  position: absolute;
  top: -12px;
  right: -7px;

  fill: #666666;


  &:hover,
  &:focus {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    border-top: none;
  }

  .copyright__link {
    justify-content: flex-start;
    margin-right: 50px;

    font-size: 16px;
    line-height: 16px;
  }

  .copyright__logo {
    top: -11px;
    right: -56px;
  }
}
