.food-programm-form__header {
  margin-bottom: 39px;
  padding: 0 20px;
}

.food-programm-form__title {
  margin-top: 15px;
  margin-bottom: 25px;
}

.food-programm-form__description {
  margin: 0;
  padding-right: 20px;
}


@media (min-width: @tablet-width) {
  .food-programm-form__header {
    margin-bottom: 35px;
    padding: 0 30px;
  }

  .food-programm-form__title {
    margin-top: 28px;
    margin-bottom: 55px;
  }

  .food-programm-form__description {
    width: 66%;
    padding: 0 40px;
  }
}

@media (min-width: @desktop-width) {
  .food-programm-form__header {
    padding: 0 40px;
  }

  .food-programm-form__title {
    margin-top: 0;
  }

  .food-programm-form__description {
    width: 360px;
    padding: 0;
  }
}
