.main-form__fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px;

  border: 0;

  &--cats-info {
    margin-bottom: 26px;
    padding-bottom: 9px;

    border-bottom: @lightgreyborder;
  }

  &--wanted-program {
    margin-bottom: 29px;

    border-bottom: @lightgreyborder;
  }

  &--owner-contacts {
    margin-bottom: 14px;
  }

  &--commentary {
    margin-bottom: 25px;
  }

  &--extra {
    margin-bottom: 15px;
  }
}

.main-form__label {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 18px;
  font-family: @Oswald;
  color: #222222;
  text-transform: uppercase;

  &--radio::after {
    content: "";
    position: absolute;
    left: 10px;
    z-index: 1;

    display: none;
    width: 10px;
    height: 10px;

    background-color: @green;
    border-radius: 50%;
  }

  &--radio::before,
  &--checkbox::before {
    content: "";
    position: absolute;
    left: 0;

    display: block;
    width: 30px;
    height: 30px;

    background-color: white;
    border: 1px solid #e2e2e2;
  }

  &--radio::before {
    border-radius: 50%;
  }
}

.main-form__input-icon {
  position: absolute;
  right: 15px;

  fill: #222222;
}

.main-form__label--radio,
.main-form__label--checkbox {
  position: relative;

  margin-bottom: 25px;
  padding-left: 46px;

  &:active {
    opacity: 0.3;
  }
}

.main-form__radio:checked ~ .main-form__label--radio::after {
  display: block;
}

.main-form__checkbox:checked ~ .main-form__label--checkbox::before {
  background-image: url("/img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 16px;
}

.main-form__legend {
  max-width: 240px;
  margin-right: 0;
  margin-bottom: 34px;
}

.main-form__text-input {
  flex-grow: 1;
  margin-left: 14px;
  padding: 12px 10px 13px 14px;

  font-size: 16px;
  line-height: 18px;
  font-family: @Oswald;
  color: @lightblack;
  text-transform: uppercase;

  border: @lightgreyborder;
  outline: none;

  &::placeholder {
    color: @lightblack;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: @lightblack;
  }

  &:not(:placeholder-shown):required:invalid:focus {
    border-color: #ff8282;
  }

  &:focus + svg {
    fill: @green;
  }

  &:not(:placeholder-shown):required:invalid:focus + svg {
    fill: #ff8282;
  }
}

.main-form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 14px;
  padding-right: 0;

  font-size: 16px;
  line-height: 18px;
  font-family: @Oswald;
  text-transform: uppercase;

  border: @lightgreyborder;
  outline: none;

  resize: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: @lightblack;
  }
}

.main-form .form-list--extra {
  margin-top: 6px;
}

.main-form__submit {
  margin-bottom: 32px;
  padding: 0 20px;
}

.main-form__button {
  margin-bottom: 20px;

  border: none;
}

.main-form__instruction {
  margin: 0;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-form {
    padding: 0;
    padding-left: 6px;
  }

  .main-form__fieldset {
    margin-bottom: 46px;
    padding-top: 30px;
    padding-right: 67px;
    padding-left: 65px;

    &--cats-info {
      margin-bottom: 14px;

      border: none;
    }

    &--wanted-program {
      margin-bottom: 74px;
      padding-top: 30px;
      padding-right: 70px;
      padding-left: 65px;

      border: none;
    }

    &--commentary {
      margin-bottom: 57px;
    }
  }

  .main-form__fieldset--owner-contacts {
    .main-form__legend {
      margin-bottom: 45px;
      padding: 0;
    }

    .sub-section-title__content {
      padding-right: 44px;
    }
  }

  .main-form__fieldset--extra {
    margin-bottom: 11px;

    .main-form__legend {
      margin-bottom: 27px;
    }

    .form-list--extra {
      margin-top: 0;
    }
  }

  .main-form__legend {
    max-width: 100%;
    margin-bottom: 46px;
    margin-left: -40px;
    padding: 0;

    &::after {
      left: -100px;
    }
  }

  .main-form__label {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;

    &--radio {
      margin-bottom: 33px;
      padding: 0;
    }

    &--radio::before {
      left: -59px;
    }

    &--radio::after {
      left: -48px;

      width: 18px;
      height: 18px;
    }

    &--radio::before,
    &--checkbox::before {
      width: 40px;
      height: 40px;
    }

    &--checkbox::before {
      left: -11px;
    }
  }

  .main-form__text-input,
  .main-form__textarea {
    font-size: 20px;
    line-height: 20px;
  }

  .main-form__text-input {
    margin-left: 18px;
    padding: 10px;
    padding-left: 20px;
  }

  .main-form__textarea {
    min-height: 174px;
    padding-left: 18px;
  }

  .main-form__submit {
    display: flex;
    padding-left: 65px;
  }

  .main-form__button,
  .main-form__instruction {
    width: 41%;
  }

  .main-form__button {
    margin-right: 10%;
    margin-bottom: 40px;
    padding: 16px 25px;

    font-size: 20px;
    line-height: 20px;
  }

  .main-form__instruction {
    padding-top: 15px;

    text-align: left;
  }
}


@media (min-width: @desktop-width) {
  .main-form {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .main-form__fieldset {
    padding-left: 0;
  }

  .main-form__fieldset-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-form__fieldset--cats-info,
  .main-form__fieldset--wanted-program {
    width: 570px;
    padding-right: 0;
    padding-left: 0;
  }

  .main-form__fieldset--wanted-program {
    margin-bottom: 65px;
  }

  .main-form__fieldset--cats-info {
    margin-right: 80px;
  }

  .main-form__fieldset--cats-info .main-form__label:last-child {
    margin-bottom: 0;
  }

  .main-form__label--radio {
    margin-bottom: 34px;
  }

  .main-form__fieldset--owner-contacts {
    margin-bottom: 48px;
  }

  .main-form__fieldset--commentary {
    margin-bottom: 61px;
  }

  .main-form__fieldset-wrapper--owner-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-form__fieldset-wrapper--owner-contacts .main-form__label {
    width: 570px;

    &:first-of-type {
      margin-right: 80px;
    }
  }

  .main-form__fieldset--extra {
    margin-bottom: 18px;
    padding-right: 0;
  }

  .main-form__label--checkbox {
    padding-left: 57px;

    &::before {
      left: 0;
    }
  }

  .main-form__submit {
    margin-bottom: 40px;
    padding-left: 0;

    .main-form__button {
      width: 570px;
      margin-right: 80px;
    }
  }
}
