.main-nav {
  font-weight: 500;
  font-size: 20px;
  font-family: @Oswald;
  text-align: center;
  text-transform: uppercase;
}

.site-list {
  .list-reset();
}

.site-list__item {
  padding: 20px 0;
}

.site-list__link {
  color: @blacky;
}

.site-list__link:hover,
.site-list__link:focus {
  color: rgba(17, 17, 17, 0.6);
}

.site-list__link:active {
  color: rgba(17, 17, 17, 0.3);
}

.site-list__link--active {
  border-bottom: 2px solid @green;
}
