.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-header__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 65px; //времянка
  padding: 0 20px;

  border-bottom: @lightgreyborder;
}

.page-header__logo {
  width: 230px;
}

.page-header__menu-toggle {
  width: 50px;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: 55px;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__logo {
    width: 230px;
  }

  .page-header__top-bar {
    width: 230px;

    border: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header--index {
    position: absolute;

    width: 100%;
    padding-top: 50px;
  }
}
