.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-header__top-bar {
  padding-top: 12px;
  padding-bottom: 7px;
  border-bottom: @lightgreyborder;
}

.page-header__logo {
  display: block;
  width: 75%;
  padding-left: 20px;
}


@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: 55px;
  }

  .page-header__wrapper {
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .page-header__logo {
    width: 230px;
  }

  .page-header__top-bar {
    width: 230px;

    border: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    padding: 0 40px;
  }

  .page-header--index {
    position: absolute;

    width: 100%;
    padding-top: 50px;
  }
}
