.slider {
  display: flex;
  flex-direction: column-reverse;
}

.slider__toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  list-style: none;
}

.slider__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__toggle--before {
  order: 1;
}

.slider__toggle--indicator {
  order: 2;
}

.slider__toggle--after {
  order: 3;
}

.slider__item--after {
  display: none;
}

.slider__indicator {
  width: 80px;
  height: 12px;
  background-color: white;
  border: @darkgreyborder;
  border-radius: 10px;
}


@media (min-width: @tablet-width) {
  .slider__toggles {
    width: 570px;
  }

  .slider__label {
    font-size: 20px;
    line-height: 25px;

    border-bottom: 1px dotted #b8b8b8;

    &:hover,
    &:focus {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider-toggles {
    padding: 0 40px;
  }
}
