.slider {
  display: flex;
  flex-direction: column-reverse;
}

.slider__list {
  margin-bottom: 30px;
}

.slider__item--after {
  display: none;
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  width: 232px;
  margin: 0 auto;
  margin-bottom: 13px;
  padding: 0 20px;

  list-style: none;
}

.slider__toggle {
  margin-right: 18px;
}

.slider__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}


.slider__toggle--before {
  order: 1;
}

.slider__toggle--indicator {
  order: 2;
}

.slider__toggle--after {
  order: 3;
}

.slider__indicator {
  position: relative;
  top: 2px;

  width: 84px;
  height: 14px;

  background-color: white;
  border: @darkgreyborder;
  border-radius: 6px;
}

.slider__button {
  position: absolute;
  top: 3px;
  z-index: 1;

  display: block;
  width: 36px;
  height: 6px;

  background-color: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &--before {
    left: 5px;
  }

  &--after {
    right: 5px;
  }

  &--active {
    background-color: @green;
  }
}

.slider__scroller {
  display: none;
}

@media (min-width: @tablet-width) {
  .slider__list {
    margin-bottom: 13px;
  }

  .slider__item--after {
    background-color: #eaeaea;
  }

  .slider__toggles {
    justify-content: space-between;
    width: 570px;
    margin: 0 auto;
    padding: 0;
  }

  .slider__toggle {
    margin-right: 0;
  }

  .slider__indicator {
    top: 10px;

    width: 425px;
    height: 6px;

    background-color: #dcdcdc;
    border: none;
  }

  .slider__button {
    display: none; //временно
  }

  .slider__scroller {
    position: absolute;
    top: -13px;
    left: calc(50% - 14px);
    z-index: 1;

    display: block;
    width: 32px;
    height: 32px;

    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #cecece;

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 11px;

      display: block;
      width: 8px;
      height: 8px;

      background-color: @green;
      border-radius: 50%;
    }
  }

  .slider__image {
    width: 690px;
    height: 517px;
  }

  .slider__label {
    font-size: 20px;
    line-height: 25px;

    border-bottom: 1px dotted #b8b8b8;

    &:hover,
    &:focus {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider__toggles {
    position: relative;

    margin: 0;
    margin-top: -45px;
    margin-left: 80px;
    padding: 0;
  }

  .slider__list {
    margin-bottom: 0;
  }
}
