.social-list {
  display: flex;
  justify-content: flex-start;

  .list-reset();


  margin-left: 72px;
  padding-top: 3px;
}

.social-item {
  margin-right: 33px;
}

@media (min-width: @tablet-width) {
  .social-list {
    margin: 0 auto;
    margin-left: 63px;
  }

  .social-item {
    margin-right: 26px;
  }
}
