.social-list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 3px;
  padding-left: calc(50% - 67px);
}

.social-item {
  margin-right: 33px;
}

@media (min-width: @tablet-width) {
  .social-list {
    width: 300px;
    padding-top: 0;
    padding-left: calc(50% - 53px);
  }

  .social-item {
    margin-right: 26px;
  }
}
