.stats__list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .list-reset();
  width: 100%;
}

.stats__item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 123px;
  margin-bottom: 20px;

  border: @greyborder;
  border-radius: 2px;

  &:not(:last-of-type) {
    margin-right: 34px;
  }
}

.stats__amount {
  display: block;
  width: 100%;
  padding: 13px 0;
  padding-bottom: 17px;

  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @blacky;
  text-transform: uppercase;
}

.stats__type {
  position: absolute;
  top: 45px;
  z-index: 1;

  display: inline-block;
  align-self: center;
  max-width: 80px;

  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  text-align: center;

  background-color: @lightgrey;
}

.stats__cost {
  width: 100%;

  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .stats__list {
    justify-content: flex-start;
    width: 62%;
  }

  .stats__item {
    width: 162px;

    &:not(:last-of-type) {
      margin-right: 42px;
    }
  }

  .stats__amount {
    padding: 21px 0;
    padding-bottom: 25px;

    font-size: 30px;
  }

  .stats__type {
    top: 62px;

    max-width: 145px;
    padding: 0 7px;

    font-size: 14px;
    line-height: 14px;

    background-color: white;
  }

  .stats__cost {
    width: 180px;
    margin-top: 6px;
    padding-right: 1px;

    font-size: 20px;
    line-height: 30px;
    text-align: right;

    &-amount {
      margin-top: 12px;
    }
  }
}

@media (min-width: @desktop-width) {
  .stats__list {
    width: 100%;
    margin-bottom: 34px;
  }

  .stats__cost {
    display: flex;
    text-align: left;
    width: 340px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .stats__cost-amount {
    display: block;
    margin-top: 0;
    margin-left: 64px;

    text-align: right;
  }

  .stats__type {
    background-color: @lightgrey;
  }
}
