.section-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: @Oswald;
  text-transform: initial;
}

.sub-section-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: @Oswald;
  color: @blacky;
}

.section-description {
  font-size: 14px;
  line-height: 18px;
  font-family: @Oswald;
  text-transform: uppercase;
}
